html {
  box-sizing: border-box;

}
html, body {
  padding: 1rem;
  margin: 0;
  touch-action: none;
  height: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#watch {
  margin: -6rem 0 0 -6rem;
  top: 50%;
  position: absolute;
  left: 50%;
  height: 12rem;
  touch-action: none;
  width: 12rem;
  color: black;
  background-color: white;
  -webkit-clip-path: circle(6rem);
  clip-path: circle(6rem);
  overflow: scroll;
}
*, *:before, *:after {
  box-sizing: inherit;
}