*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin:0;
  padding:0;
}
html {
  box-sizing: border-box;
  --spotLL: #FFEBE7;
  --spotL: #FFC0BE;
  --spot: #FF82A9;
  --alt: #7F95D1;
  --black: #12152B;
  --white: #F4F1F0;
}

body {
  background-color: var(--white);
  padding: 1rem;
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}
h1 {
  color: var(--spot);
}
h2 {
  color: var(--spot);
}
a,
a:link,
a:visited {
  color: var(--alt);
}
a:hover {
  color: black;
  text-decoration: underline;
}

h1 > a:link,
h1 > a:visited {
  text-decoration: none;
  color: var(--spotL);
}

#activity {
  opacity: 0.1;
  display: flex;
  position: fixed;
  font-size: xx-small;
  right:0;
  bottom: 0;
  background-color: darkgray;
  user-select: none;
}

#activity:hover {
  opacity: 1.0;
}

#activity>div {
  padding: 0.2em;
  border: 1px solid white;
}