html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: whitesmoke;
  padding: 1em;
}
h1 {
  color: darkred;
}
a,
a:link,
a:visited {
  color: rgb(0, 83, 139);
}
a:hover {
  color: black;
}

#lastMsg {
  font-family: monospace;
}

#sentCommands {
  overflow: scroll;
  height: 10rem;
  width: 10rem;
  border: 1px solid black;
  background: white;
}
