html {
  box-sizing: border-box;
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 1em;
  height: 100%;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#pangram {
  font-weight: 800;
  font-size: 4em;
}
