html,
body {
  height: 100%;
  margin: 1rem;
  padding: 0;
}

body {
  background-color:rgb(98.8%, 89.4%, 92.5%);
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  color: rgb(21.6%, 27.8%, 31%);
}

h1, h1>a:link, h1>a:visited {
  color: rgb(67.8%, 7.8%, 34.1%);
}

a:link {
  color: rgb(114, 64, 214);
}

a:visited {
  color: rgb(19.2%, 10.6%, 57.3%)
}


