@font-face {
  font-family: 'AmstelvarRoman';
  src: url('../fonts/Amstelvar-Roman-parametric-VF.ttf');
}

html {
  box-sizing: border-box;
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 1em;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#pangram {
  font-size: 6em;
  font-family: 'AmstelvarRoman';
  text-rendering: geometricPrecision;
  font-size: 4em;
  text-shadow: 0 0; /* a hack needed to improve rendering */
}
